body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:661px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:697px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:697px;
  display:flex;
}
#u947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:19px;
  width:64px;
  height:24px;
  display:flex;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u948 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u948_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Light', '思源黑体 CN', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:31px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:7px;
  width:17px;
  height:47px;
  display:flex;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'思源黑体 CN Light', '思源黑体 CN', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:31px;
}
#u949 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u949_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:91px;
  width:70px;
  height:21px;
  display:flex;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u950 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u950_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:135px;
  width:42px;
  height:21px;
  display:flex;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u951 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u951_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:167px;
  width:42px;
  height:21px;
  display:flex;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u952 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u952_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:363px;
  width:70px;
  height:21px;
  display:flex;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u953 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u953_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:445px;
  width:70px;
  height:21px;
  display:flex;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u955 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u955_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u956 label {
  left:0px;
  width:100%;
}
#u956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:448px;
  width:100px;
  height:18px;
  display:flex;
}
#u956 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u956_img.selected {
}
#u956.selected {
}
#u956_img.disabled {
}
#u956.disabled {
}
#u956_img.selectedDisabled {
}
#u956.selectedDisabled {
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u956_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u957 label {
  left:0px;
  width:100%;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:448px;
  width:100px;
  height:18px;
  display:flex;
}
#u957 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u957_img.selected {
}
#u957.selected {
}
#u957_img.disabled {
}
#u957.disabled {
}
#u957_img.selectedDisabled {
}
#u957.selectedDisabled {
}
#u957_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u957_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u958 label {
  left:0px;
  width:100%;
}
#u958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:448px;
  width:100px;
  height:18px;
  display:flex;
}
#u958 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u958_img.selected {
}
#u958.selected {
}
#u958_img.disabled {
}
#u958.disabled {
}
#u958_img.selectedDisabled {
}
#u958.selectedDisabled {
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u958_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u959_input {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u959_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:28px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:88px;
  width:491px;
  height:28px;
  display:flex;
}
#u959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u959_img.disabled {
}
#u959.disabled {
}
#u960_input {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u960_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:28px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:131px;
  width:491px;
  height:28px;
  display:flex;
}
#u960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u960_img.disabled {
}
#u960.disabled {
}
#u961_input {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:170px;
  padding:2px 2px 2px 2px;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u961_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:170px;
  padding:2px 2px 2px 2px;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:170px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:174px;
  width:491px;
  height:170px;
  display:flex;
}
#u961 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u961_img.disabled {
}
#u961.disabled {
}
#u962_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u962_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:359px;
  width:154px;
  height:28px;
  display:flex;
}
#u962 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u962_img.disabled {
}
#u962.disabled {
}
.u962_input_option {
}
#u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:481px;
  width:42px;
  height:21px;
  display:flex;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u964 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u964_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(19, 188, 171, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13BCAB;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:557px;
  width:65px;
  height:24px;
  display:flex;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13BCAB;
}
#u965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:481px;
  width:100px;
  height:100px;
  display:flex;
}
#u967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:99px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:482px;
  width:100px;
  height:99px;
  display:flex;
  opacity:0.24;
}
#u968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:2px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:641px;
  width:660px;
  height:1px;
  display:flex;
}
#u970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(19, 188, 171, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(19, 188, 171, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:657px;
  width:65px;
  height:24px;
  display:flex;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(19, 188, 171, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13BCAB;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:657px;
  width:65px;
  height:24px;
  display:flex;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13BCAB;
}
#u973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(19, 188, 171, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13BCAB;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:657px;
  width:65px;
  height:24px;
  display:flex;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13BCAB;
}
#u974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:2px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:660px;
  height:1px;
  display:flex;
}
#u975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:406px;
  width:70px;
  height:21px;
  display:flex;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u976 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u976_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u977_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:28px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:402px;
  width:245px;
  height:28px;
  display:flex;
}
#u977 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u977_img.disabled {
}
#u977.disabled {
}
.u977_input_option {
}
#u978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:596px;
  width:42px;
  height:21px;
  display:flex;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u979 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u979_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(19, 188, 171, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13BCAB;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:597px;
  width:65px;
  height:24px;
  display:flex;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13BCAB;
}
#u980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u981_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:596px;
  width:180px;
  height:25px;
  display:flex;
}
#u981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u981_img.disabled {
}
#u981.disabled {
}
#u982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#990000;
  text-align:right;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:94px;
  width:7px;
  height:21px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#990000;
  text-align:right;
}
#u982 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u982_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#990000;
  text-align:right;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:138px;
  width:7px;
  height:21px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#990000;
  text-align:right;
}
#u983 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u983_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#990000;
  text-align:right;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:171px;
  width:7px;
  height:21px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#990000;
  text-align:right;
}
#u984 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u984_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#990000;
  text-align:right;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:368px;
  width:7px;
  height:21px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#990000;
  text-align:right;
}
#u985 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u985_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#990000;
  text-align:right;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:448px;
  width:7px;
  height:21px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#990000;
  text-align:right;
}
#u986 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u986_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#990000;
  text-align:right;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:484px;
  width:7px;
  height:21px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#990000;
  text-align:right;
}
#u987 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u987_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u988_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u988_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:359px;
  width:154px;
  height:28px;
  display:flex;
}
#u988 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u988_img.disabled {
}
#u988.disabled {
}
.u988_input_option {
}
#u989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u989_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:359px;
  width:154px;
  height:28px;
  display:flex;
}
#u989 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u989_img.disabled {
}
#u989.disabled {
}
.u989_input_option {
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:365px;
  width:16px;
  height:16px;
  display:flex;
  opacity:0.8;
}
#u990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
