body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
  background:inherit;
  background-color:rgba(19, 188, 171, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
  display:flex;
  color:#AAAAAA;
}
#u833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Bold', '思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
  text-align:center;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:18px;
  width:146px;
  height:24px;
  display:flex;
  font-family:'思源黑体 CN Bold', '思源黑体 CN Regular', '思源黑体 CN', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
  text-align:center;
}
#u834 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u834_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:1758px;
  top:32px;
  width:70px;
  height:18px;
  display:flex;
  opacity:0.7;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u836 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u836_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:1758px;
  top:11px;
  width:32px;
  height:21px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u837 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u837_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:18px;
  width:72px;
  height:24px;
  display:flex;
  opacity:0.7;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u838 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u838_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u838.selected {
  opacity:1;
}
#u838_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:18px;
  width:72px;
  height:24px;
  display:flex;
  opacity:0.6;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u839 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u839_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u839.selected {
  opacity:1;
}
#u839_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:18px;
  width:36px;
  height:24px;
  display:flex;
  opacity:0.7;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u840 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u840_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u840.selected {
  opacity:1;
}
#u840_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 248, 248, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:47px;
  width:30px;
  height:3px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:18px;
  width:72px;
  height:24px;
  display:flex;
  opacity:0.6;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u842 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u842_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u842.selected {
  opacity:1;
}
#u842_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u842.focused {
}
#u842_div.selectedFocused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u842.selectedFocused {
  opacity:1;
}
#u842_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:18px;
  width:72px;
  height:24px;
  display:flex;
  opacity:0.7;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u843 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u843_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u843.selected {
  opacity:1;
}
#u843_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:18px;
  width:72px;
  height:24px;
  display:flex;
  opacity:0.7;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u844 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u844_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u844.selected {
  opacity:1;
}
#u844_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:1832px;
  top:10px;
  width:40px;
  height:40px;
  display:flex;
}
#u845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:1880px;
  top:25px;
  width:20px;
  height:11px;
  display:flex;
  opacity:0.7;
}
#u846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:18px;
  width:36px;
  height:24px;
  display:flex;
  opacity:0.7;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u847 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u847_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u847.selected {
  opacity:1;
}
#u847_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 248, 248, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:47px;
  width:30px;
  height:3px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 248, 248, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:47px;
  width:30px;
  height:3px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 248, 248, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:47px;
  width:30px;
  height:3px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 248, 248, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:47px;
  width:30px;
  height:3px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 248, 248, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:47px;
  width:30px;
  height:3px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
